body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  font-family: "comic-sans", 'jokerman', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/*Game container*/
.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* width: 80%;
  max-width: 500%; */
}

/*flag image*/
.flag{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: fill;
}
/*answer button flex options */
.answer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*answer button style */
.answer-buttons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

/*answer button hover shade*/
.answer-buttons button:hover {
  background-color: #2980b9;
}

.correct {
  background-color: green !important;
}

.wrong {
  background-color: red !important;
}

/*score*/
.score {
  font-size: 18px;
  margin-top: 20px;
}

/*feedback on answer*/
/* .feedback {
  margin-top: 10px;
  font-size: 16px;
  color: red !important;
} */
