body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  font-family: "comic-sans", 'jokerman', sans-serif;
  background-color: #f4f4f4;
  background-image: url(https://img.freepik.com/free-vector/vintage-world-map-carthography-design_23-2148306186.jpg?w=996&t=st=1729215538~exp=1729216138~hmac=fe4dbd0d24dfcf22d7d11fd4559e773d17e1bcd9562a7554d7e1be27dda39509);
  margin: 0;
  padding: 0;

  /*background: no-repeat center center fixed;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

/*Game container*/
.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* width: 80%;
  max-width: 500%; */
}

/*flag image*/
.flag{
  box-sizing: border-box;

}

.flag > img{
  margin: 0;
  border: 1px solid #919191;
}

.flag-container{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: fill;
}
/*answer button flex options */
.answer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*answer button style */
.answer-buttons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}

/*answer button hover shade*/
.answer-buttons button:hover {
  background-color: #2980b9;
}

.correct {
  background-color: green !important;
}

.wrong {
  background-color: red !important;
}

.next {
  background-color: #e0be23 !important;
  color: #ffffff !important;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}


.next:hover{
  background-color: #bea11e !important;
}

/*score*/
.score {
  font-size: 18px;
  margin-top: 20px;
}
.lives{
  font-size: 18px;
  margin-top: 20px;

}

.highscore {
  font-size: 18px;
  margin-top: 20px;
}
.life {
  font-size: 18px;
  margin-top: 20px;
}

/*feedback on answer*/
/* .feedback {
  margin-top: 10px;
  font-size: 16px;
  color: red !important;
} */

title {
  font-family: 'ewert', "comic-sans", 'jokerman', sans-serif;;
}

.reset {
  background-color: lightcoral;
  color: #ffffff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

@media only screen and (max-height: 780px){
  .flag > img{
    width: 180px;
  }

  .answer-buttons button{
    padding: 10px;
  }
}